<div class= "title">
  <% if @cell_phones.empty? %>
    <h1>Please Post the First Phone you want Reviewed</h1>
  <% else %>
    <h1>Phones to be Reviewed:</h1>
  <% end %>
</div>

<div class = "cellphone_list">
  <ul>
  <% @cell_phones.each do |cell_phone| %>
  <li> <%= link_to(cell_phone.name, cell_phone_path(cell_phone)) %></li>
  <% end %>
 </ul>
</div>


<% if @cell_phones.blank? %>
  <h4>There are no cell phones containing the term <%= params[:search] %>.</h4>
<% end %>
